#carouselMain{

  .carousel-inner{
    height: 100%;
    width: 100%;

    .carousel-item{
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .carousel-caption{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        padding: 30px;
        width: 100%;
        bottom: 0;
        font-size: 20px;
        left: 0;

        .content-title{
          color: $text-color2;
          margin: auto 10px;
          @include media-breakpoint-down(md){
            font-size: 130%;
          }
        }
        .slide-btn{
          margin: auto 10px;
        }
      }
    }
  }

}