.header-big-slider{

  .slider-item{

    .item-content{
      position: absolute;
      display: flex;
      justify-content: flex-end;
      padding: 30px;
      width: 100%;
      bottom: 0;
      font-size: 20px;

      .content-title{
        margin: auto 10px;
        text-shadow: -1px -1px 0px white;
      }
      .slide-btn{
        margin: auto 10px;
      }
    }
  }

}