.main-page-services{

  .card{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 30px;

    border-color: $main-color1;

    .card-img-top{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    .card-block{
      text-align: right;

      .card-title{
        text-align: left;
      }

      .card-text{
        height: 70px;
        overflow: hidden;
      }

      .card-button{
        display: inline-block;
      }
    }
  }
}