.main-menu{
  position: relative;
  width: 100%;
  display: block;
  background: $menu-bg2;
  padding: 15px;
  margin: 0;
  text-align: center;

  @include media-breakpoint-down(sm){
    position: absolute;
    width: 100%;
    display: block;
    text-align: left;
    background: $menu-bg2;
    padding: 15px;
    max-height: 60px;
    margin: 0;

    visibility: hidden;
    top: 0;
    opacity: 0;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &.main-menu-shown{
      visibility: visible;
      top: 100%;
      opacity: 1;
      z-index: 1;
    }
  }

  li{
    list-style-type: none;
    display: inline-block;

    .to-main{
      color: rgb(0, 52, 101);
      &:focus, &:active, &:visited{
        color: rgb(0, 52, 101);
        outline: 0 !important;
        text-decoration: none;
      }
      @include media-breakpoint-up(md){
        border-right: 1px solid white;
      }
    }

    &.selected{
      border-bottom: 2px solid $text-color1;
      border-radius: 10px;

      a{
        color: $text-color1 !important;
      }
    }

    a{
      color: $menu-text-color;
      font-family: 'DINPro-Regular';
      padding: 0 10px;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;

      &:hover{
        text-decoration: none;
      }

      &:focus, &:active, &:visited{
        color: $regular-btn-textColor;
        outline: 0 !important;
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-down(sm){
    max-height: none;

    li{
      width: 100%;
      margin-bottom: 5px;
      text-align: center;

      a{
        font-size: 18px;
        padding: 5px 0;
      }
    }
  }
}

.underline{
  position: absolute;
  bottom: 0;
}