.main-menu{
  position: absolute;
  width: 100%;
  display: flex;
  text-align: left;
  background: $menu-black;
  padding: 15px;
  max-height: 60px;
  margin: 0;
  pointer-events: none;

  top: 0;
  opacity: 0;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &.main-menu-shown{
    //display: flex;
    top: 100%;
    opacity: 1;
  }

  li{
    list-style-type: none;
    display: inline-block;

    a{
      color: black;
      font-family: 'DINPro-Regular';
      padding: 0 10px;
      font-size: 14px;
      text-transform: uppercase;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.underline{
  position: absolute;
  bottom: 0;
}