section{
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  &:first-child{
    margin-top: 30px;
  }

  &:nth-child(even){
    background: rgb(0, 52, 101);
    color: white;
  }

  &:last-child{

  }
}