section{
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  &:first-child{
    margin-top: 30px;
  }

  &:nth-child(even){
    background: rgb(0, 52, 101);
    color: white;
  }

  &:last-child{

  }
}

.btn-pulse{
  position: relative;
  background: $regular-btn-blue;
  color: $regular-btn-textColor;
  height: $regular-btn-size;
  width: $regular-btn-size;
  line-height: $regular-btn-size;
  font-size: $regular-btn-fontSize;
  display: inline-block;
  text-align: center;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  span{
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:hover{
    color: $regular-btn-textColor;
    text-decoration: none;

    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }

  &:focus, &:active, &:visited{
    color: $regular-btn-textColor;
    outline: 0 !important;
  }

  &.round{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 80%;
  }

  &.blue{
    background: $regular-btn-blue;
    @include pulse-keyframe(pulse-blue, $regular-btn-blue, 15, 2.25, cubic-bezier(0.66, 0, 0, 1));
  }

  &.red{
    background: $regular-btn-red;
    @include pulse-keyframe(pulse-red, $regular-btn-red, 15, 2.25, cubic-bezier(0.66, 0, 0, 1));
  }
}
