.services-main-page{

  .card{
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;

    border-color: $main-color1;

    .card-img-top{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-block{
      color: $text-color1;
      text-align: right;

      .stylish-list{
        padding: 0;
      }

      .card-title{
        text-align: left;
      }

      .card-text{
        height: 70px;
        font-size: 14px;
        overflow: hidden;
        line-height: 17px;
        margin-bottom: 15px;
      }

      .card-button{
        display: inline-block;
      }
    }
  }
}

.detail-page{

  .img-fluid{
    margin-bottom: 15px;
  }
}