
//Basic colors
$main-color1: rgb(0, 52, 101);
$main-color2: #e00920;
$regular-text-shadow: 1px 1px 0 rgb(224, 9, 32);



//Buttons
$regular-btn-blue: $main-color1;
$regular-btn-red: $main-color2;
$regular-btn-textColor: white;
$regular-btn-size: 70px;
$regular-btn-fontSize: 16px;



//Menu colors
$menu-text-color: #003465;
$menu-bg: transparentize(white, .5);
$menu-toggler-color: #ffffff;
