//Menu colors
$menu-text-color: #003465;
$menu-bg: transparentize(white, .5);
$menu-toggler-color: #ffffff;

//Regular colors
$regular-text-shadow: 1px 1px 0 rgb(224, 9, 32);
$regular-btn-blue: #003465;
$regular-btn-red: #e00920;