
//Basic colors
$main-color1: rgb(65, 167, 193);//rgb(22, 74, 114);//rgb(0, 52, 101);
$main-color2: #fff5d8;//#e00920;
$regular-text-shadow: 1px 1px 0 rgb(224, 9, 32);
$main-red: #e00920;

//Text colors
$text-color1: transparentize(rgb(0, 52, 101), .25);
$text-color2: transparentize(white, .25);


//Buttons
$regular-btn-blue: $main-color1;
$regular-btn-red: $main-color2;
$regular-btn-textColor: white;
$regular-btn-size: 85px;
$regular-btn-fontSize: 16px;



//Menu colors
$menu-text-color: white;
$menu-bg: $main-color2;
$menu-bg2: $main-color1;
$menu-toggler-color: #ffffff;


//Sections grid
$margin: 0;
$padding: 30px;